<div class="text-center">
    <h1 class="text-2xl text-white font-bold">Angular Agenda App</h1>
    <div class="mt-2 mb-2">
        <input class="p-2 rounded-md border-slate-500 border-2 border-solid" [(ngModel)]="newAgenda" placeholder="Add a new agenda" />
        <button class="p-2 ml-2 text-white bg-blue-600 border-none rounded-md cursor-pointer" (click)="addAgenda()">Add</button>
    </div>
    <ul class="list-none p-0">
        @for (agendaItem of agendaItems(); track $index) {
            <li class="flex justify-between text-white items-center p-2 rounded-md mb-2 border-slate-500 border-2 border-solid">
                <span class="text-white">{{ agendaItem }}</span>
                <button class="p-2 bg-red-600 text-white border-none rounded-md cursor-pointer" (click)="removeAgenda($index)">Remove</button>
            </li>
        }
    </ul>
</div>